body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-size: 24px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #007BFF;
    margin-bottom: 20px;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#product-detail {
    margin: 20px 0;
}

.product-images {
    position: relative;
}

.product-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.image-navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.image-navigation button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.price {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}

.description, .status, .note {
    text-align: left;
    font-size: 16px;
    margin: 10px 0;
    color: #555;
}

.list-bay {
    display: none;
    margin: 20px 0;
}

input[type="number"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(100% - 22px); /* Adjusted to include padding and border */
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

header {
    background-color: #28a745; /* لون مخصص للعنوان */
}

.container {
    border: 2px solid #28a745; /* لون مخصص للإطار */
}

button {
    background-color: #28a745; /* لون مخصص للأزرار */
}

button:hover {
    background-color: #218838; /* لون مخصص للتأثير */
}

#save-image {
    background-color: #ffc107; /* لون مخصص للزر */
}

#save-image:hover {
    background-color: #e0a800; /* لون مخصص للتأثير */
}

#product-detail {
    margin: 20px 0;
    background-color: #e9ecef; /* خلفية مخصصة للتفاصيل */
    padding: 20px;
    border-radius: 8px;
}
