@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

body {
    font-family: 'Cairo', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #153d8f; /* لون مستوحى من بوابة عشتار */
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-size: 24px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    text-align: center;
}

.back-link {
    text-decoration: none;
    color: #153d8f;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 16px;
}

.back-link:hover {
    text-decoration: underline;
}

.btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 5px;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.btn:hover {
    background-color: #218838;
}

#product-detail {
    margin: 20px 0;
    text-align: left;
}

.product-images {
    position: relative;
}

.product-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.image-navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.image-navigation button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}

.price-label {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.price-value {
    font-size: 18px;
    color: #153d8f;
    font-weight: bold;
}

.note, .description, .status {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    color: #555;
}

.description-text {
    font-size: 16px;
    color: #666;
}

.list-bay {
    display: none;
    margin: 20px 0;
    text-align: left;
}

input[type="number"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(100% - 22px); /* Adjusted to include padding and border */
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border:
